<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
<body>
    <h1>Admin Page</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Num</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Message</th>
                <th>Attached file</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < data.length; i++) {%>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].firstName %></td>
                    <td><%= data[i].email %></td>
                    <td><%= data[i].department %></td>
                    <td><%= data[i].message %></td>
                    <td>
                        <% if (data[i].attachment) { %>
                            <a href="../uploads/<%= data[i].attachment %>">Download Attachment</a>
                        <% } else { %>
                            No Attachment
                        <% } %>
                    </td>
                    <td><%= 
                        new Date(data[i].dateOfAdded).toLocaleString()
                        
                        %></td>
                    
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>