<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <h1>Admin Page</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Num</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Message</th>
                <th>Attached file</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].firstName %></td>
                    <td><%= data[i].email %></td>
                    <td><%= data[i].department %></td>
                    <td><%= data[i].message %></td>
                    <td><%= data[i].attachment %></td>
                    <td><%= 
                        new Date(data[i].dateOfAdded).toLocaleString()
                        
                        %></td>
                    
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>